@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0rem;
  text-decoration: none; }

body {
  /*Agregue la tipografia a todos los elementos texto*/
  font-family: "Roboto","sans-serif";
  font-style: normal;
  background: #f3f3f3; }

h3 {
  /*Tamaño del texto de los titulos 3*/
  font-size: 20px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* --------------------------------------ESTILOS HEAD-----------------------------------------------*/

.containerHeader{
  background-image: linear-gradient(#010449, #05479D);
}
.containerTop {
  /*agrego color al contenedor*/
  width: 100%;
  float: right;
  
  align-items: center; }

.containerTop__Nav {
  /*Utilizo camelCase*/
 
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-end;

}

.nav-link--img{
  width: 100%;
  max-height: 20px;
  object-fit: contain;

}
.btn-menu--size{
  width: 100%;
  max-height: 23px;
}


.btn-primary--cfg{
  background-color: inherit;

}

.offcanvas-end{
  width: 50%;
}

.offcanvas--back{
  background-image: linear-gradient(#010449, #05479D);
}

.offcanvas-header{
  color:#fff;
  border-bottom: 1px solid #fff;
}

.menuResponsive{
  display: none;
}


.pad-0{
  padding-left: 0;
}
  .containerTop__Nav ul li {
    display: inline-block; }
    .containerTop__Nav ul li a {
      color: white;
      display: block;
      transition: all 0.4s linear;
      border-radius: 5px; }
    .containerTop__Nav ul li a:hover {
      background: #4a4a4a; }
  .containerTop__Nav img {
    width: 23px;
    height: 23px; }

.containerTop__ListNavLeft {
  float: left;
  list-style: none;
  padding: 10px; }

.containerBot {
  /*Agrego color al contenedor y alineo los elementos*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }
  .containerBot ul li {
    display: inline-block;
    list-style: none;
    padding: 10px; }
    .containerBot ul li a {
      color: white;
      display: block;
      transition: all 0.4s linear;
      border-radius: 5px; }
    .containerBot ul li a:hover {
      background: #4a4a4a; }

.containerBot__Logo {
 
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
  height: 80px;
  transition: all 0.4s linear;
  border-radius: 5px; }

.containerBot__Logo:hover {
  background: #4a4a4a; }

.containerBot__Search {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black; }
  .containerBot__Search img {
    width: 23px;
    height: 23px; }

.search__Input {
  width: 50rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px; }

.search__InputBtn {
  height: 2.5rem;
  border: none;
  background: none;
  margin-left: -40px;
  cursor: pointer; }

.containerBot__ContainerIconos {
  
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .containerBot__ContainerIconos a {
    color: white;
    display: block;
    transition: all 0.4s linear;
    border-radius: 5px;
    padding: 20px; }
  .containerBot__ContainerIconos a:hover {
    background: #4a4a4a; }
  .containerBot__ContainerIconos button {
    background: none;
    border: none;
    display: block;
    transition: all 0.4s linear;
    border-radius: 5px;
    padding: 20px; }
  .containerBot__ContainerIconos button:hover {
    background: #4a4a4a; }
  .containerBot__ContainerIconos img {
    width: 40px;
    height: 40px; }

.containerBot__ContainerMenu {
  width: 100%;
  background-color: #EEEEEE;
  align-items: center;
  display: inline-block;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative; }
  
  .containerBot__ContainerMenu ul {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
     }
    .containerBot__ContainerMenu ul li {
      display: inline-block;
      list-style: none;
      padding: 10px; }
      .containerBot__ContainerMenu ul li a {
        color: #424143;
        display: block;
        transition: all 0.4s linear;
        border-radius: 5px; }
      .containerBot__ContainerMenu ul li a:hover {
        background: #a8a8a8; }
    .containerBot__ContainerMenu ul li:hover .containerSubMenu ul {
      visibility: visible;
      opacity: 1;
      z-index: 1; }

.containerSubMenu {
  display: flexbox;
  flex-direction: column; }
  .containerSubMenu ul {
    display: flex;
    background: #EEEEEE;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    margin-left: -1rem; }
    .containerSubMenu ul li a {
      display: block;
      padding: 15px;
      text-decoration: none; }

/* --------------------------------------ESTILOS MAIN-----------------------------------------------*/
.containerBanner {
  width: 100%; }
  .containerBanner img {
    width: 100%; }

.containerBanners {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  justify-items: center;

   }
  .containerBanners article {
    border: 2px solid black;
    border-radius: 5px;
    max-height: 15rem;
    object-fit: contain;
    max-width: 15rem;
    overflow: hidden; }
    .containerBanners article img {
      height: 100%;
      width: 100%; }
    .containerBanners article img:hover {
      transform: scale(1.2, 1.2); }
  .containerBanners div {
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .containerBanners h3 {
    position: absolute;
    background: #2983BC;;
    color: white;
    margin-top: -20px;
    margin-left: -10px;
    padding: 5px; }

.containerSecciones {
  display: block;
  margin-top: 4rem;
  
  /*background: red;*/ }
  .containerSecciones h2 {
    text-align: center;
    font-size: 30px;
    font-style: inherit;
    padding: 5px; }
  .containerSecciones div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem; }
    .containerSecciones div section {
      display: grid;
    grid-template-columns: repeat(3,1fr);
    
    grid-gap: 20px; }
      .containerSecciones div section article {
        height: 105%;
        width: 100%;
        background: white;
        /*background: #424143;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #CCC; }
        .containerSecciones div section article img {
          max-height: 200px;
          width: 100%;
          object-fit: contain;
          padding-top: 0.5rem;
          margin-bottom: 0px; }
        .containerSecciones div section article h4 {
          padding: 12px 12px 0px 12px;
          font-weight: 500;
          font-size: 16px;
          color: black;
          margin-bottom: 20px; }
        .containerSecciones div section article div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 0px; }
          .containerSecciones div section article div h5 {
            background-color: #0c487a;
            margin-left: -1px;
            padding: 5px 16px;
            margin-top: 0px;
            font-size: 20px;
            color: white;
            border-radius: 0px 7px 7px 0px; }
          .containerSecciones div section article div button {
            width: 90px;
            height: 35px;
            background-color: #0c487a;
            font-size: 20px;
            margin-top: -5px;
            margin-right: 15px; }
    .containerSecciones div button {
      height: 60px;
      width: 45px;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #2983BC;
      border-color: #2983BC;
      border-radius: 5px;
      color: #fff;
      box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; }
      .containerSecciones div button img {
        align-items: center;
        justify-items: center;
        height: 27px;
        width: 27px; }
    .containerSecciones div button:hover {
      background: #2983BC;;
      transform: scale(1.1, 1.1); }

.containerCateg {
  display: grid;
  
  grid-template-areas: "ord ord"
 "navv prod"
 "otro prod";
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  grid-template-rows: 100px auto auto; }

.containerEncabezado {
  grid-area: ord;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }



.containerListCateg {
  grid-area: navv;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: #c4c3c3;
   }
  .containerListCateg ul {
    width: 100%; }
    .containerListCateg ul li {
      margin-left: -2rem;
      border-bottom: 1px solid black; }
      .containerListCateg ul li a {
        display: block;
        text-decoration: none;
        color: #424143;
        padding: 15px; }
    .containerListCateg ul li:hover {
      background: #a8a8a8; }

#seleccionadoLi {
  color: white; }

.containerProdCateg {
  grid-area: prod;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  grid-gap:20px }
  .containerProdCateg article {
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc; }
    .containerProdCateg article h4 {
      padding: 12px 12px 0px 12px;
      font-weight: 500;
      font-size: 16px;
      color: black;
      margin-bottom: 20px; }
    .containerProdCateg article img {
      max-height: 190px;
      width: 100%;
      object-fit: contain;
      margin-top: 0.5rem; }
    .containerProdCateg article div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 0px; }
      .containerProdCateg article div h5 {
        background-color: #0c487a;
        margin-left: -1px;
        padding: 5px 16px;
        margin-top: 0px;
        font-size: 20px;
        color: white;
        border-radius: 0px 7px 7px 0px; }
      .containerProdCateg article div button {
        width: 90px;
        height: 35px;
        font-size: 20px;
        margin-top: -5px;
        margin-right: 1rem;
        cursor: pointer;
        border: none;
        background-color: #0c487a;
        border-color: #2983BC;
        border-radius: 5px;
        color: #fff; }
      .containerProdCateg article div button:hover {
        background: #2983BC;
        transform: scale(1.1, 1.1);  }

.bannerArmarPc {
  width: 100%;
  max-height: 30rem; }

.containerArmarPC {
  display: grid;
  grid-template-areas: "otrooa proda"
 "nava proda"
 "otroa proda";
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: 100px auto auto; }

.containerArmadoPc {
  grid-area: proda;
  display: flex;
  flex-direction: column; }

.containerPresupuesto {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  position: relative;
  height: 100%;
  width: 65%;
  background: white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; }
  .containerPresupuesto input {
    height: 3rem;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2983BC;
    border-color: #2983BC;
    border-radius: 5px;
    color: #fff;
    /*box-shadow: 0 2px 2px 0 rgb(87, 81, 81), 0 3px 1px -2px rgb(87, 81, 81), 0 1px 5px 0 rgb(87, 81, 81);
    */ }
  .containerPresupuesto input:hover {
    background: #a8a8a8; }

.containerPresupuesto__Top {
  height: 60%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black; }

.containerPresupuesto__Top--Subtotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; }
  .containerPresupuesto__Top--Subtotal img {
    width: 100%;
    max-height: 120px;
    object-fit: contain;
   }

/*.containerPresupuesto__Top--Precio{
        background-color: #0c487a;
        padding: 5px;
        color: white;
        border-radius: 5px;
        align-items: center;
}*/
.containerPresupuesto__Mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
  margin-bottom: 2rem;
  height: 40%;
  width: 100%; }
  .containerPresupuesto__Mid label {
    font-size: 1.2rem; }

.containerPresupuesto__Mid--Progreso {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .containerPresupuesto__Mid--Progreso progress {
    height: 2rem;
    width: 100%; }

.containerPresupuesto__Mid--Componente {
  display: flex;
  align-items: center;
  height: 100%; }
  .containerPresupuesto__Mid--Componente img {
    width: 100%;
    object-fit: contain;
    max-height: 50px;
   }
  .containerPresupuesto__Mid--Componente h4 {
    font-size: 1rem;
    margin-left: -3.5rem;
    margin-right: 1rem; }

.containerCuerpoArmar {
  display: flex;
  flex-direction: column;
   }

.containerOrdenarArmar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem; }
  .containerOrdenarArmar label {
    margin-right: 1rem; }
  .containerOrdenarArmar select {
    margin-right: 2.5rem; }

.containerProdArmar {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap:20px;
   }
  .containerProdArmar article {
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc; }
    .containerProdArmar article h4 {
      padding: 12px 12px 0px 12px;
      font-weight: 500;
      font-size: 16px;
      color: black;
      margin-bottom: 20px; }
    .containerProdArmar article img {
      max-height: 190px;
      width: 100%;
      object-fit:contain;
      margin-top: 0.5rem;
     }
    .containerProdArmar article div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 0px; }
      .containerProdArmar article div h5 {
        background-color: #0c487a;
        margin-left: -1px;
        padding: 5px 16px;
        margin-top: 0px;
        font-size: 20px;
        color: white;
        border-radius: 0px 7px 7px 0px; }
      .containerProdArmar article div button {
        width: 60px;
        height: 35px;
        font-size: 25px;
        margin-top: -5px;
        margin-right: 1rem;
        cursor: pointer;
        border: none;
        background-color: #0c487a;
        border-color: #2983BC;
        border-radius: 5px;
        color: #fff; }
      .containerProdArmar article div button:hover {
        background: #2983BC; 
        transform: scale(1.1, 1.1); }

.containerListComponentes {
  grid-area: nava;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: #c4c3c3;
  ; }
  .containerListComponentes ul {
    width: 100%; }
    .containerListComponentes ul li {
      margin-left: -2rem;
      border-bottom: 1px solid black; }
      .containerListComponentes ul li a {
        display: block;
        text-decoration: none;
        color: #424143;
        padding: 15px; }
    .containerListComponentes ul li:hover {
      background: #a8a8a8; }

.containerArmarPC img {
  height: 190px;
  width: 190px;
  margin-top: 2rem; }

.carousel-item img {
  max-height: 600px; }

.containerTituloFav {
  margin-top: 3rem; }

.containerFav {
  background: white;
  
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 0px #666464;
  box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; }
  .containerFav article {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #666464;
    align-items: center;
    color: black;
    font-style: inherit; }
    .containerFav article button {
      height: auto;
      width: 14px;
      margin-right: -0.3rem;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      background-color: none;
      border-color: none;
      border-radius: 5px;
      color: #fff;
      /*box-shadow: 0 2px 2px 0 rgb(87, 81, 81), 0 3px 1px -2px rgb(87, 81, 81), 0 1px 5px 0 rgb(87, 81, 81);
            */ }
      .containerFav article button img {
        height: 36px;
        width: 36px;
        margin-left: -11px;
        margin-top: -2px; }
    .containerFav article input {
      margin-right: 0.5rem;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: #2983BC;
      border-color: #2983BC;
      border-radius: 5px;
      color: #fff;
      padding: 5px;
      /*box-shadow: 0 2px 2px 0 rgb(87, 81, 81), 0 3px 1px -2px rgb(87, 81, 81), 0 1px 5px 0 rgb(87, 81, 81);
        */ }
    .containerFav article input:hover {
      background: #a8a8a8;
      transform: scale(1.1, 1.1); }

#containerFav--detalle {
  display: flex;
  flex-direction: row;
  height: 10rem;
  align-items: center; }
  #containerFav--detalle h4 {
    font-size: 22px; }
  #containerFav--detalle h5 {
    font-size: 20px;
    padding: 5px 0px 5px 5px;
    background-color: #2983BC;
    border-color: #2983BC;
    border-radius: 5px;
    color: #fff;
    width: 6.5rem; }
  #containerFav--detalle img {
    max-height: 120px;
    width: 100%;
    object-fit: contain;
    margin-right: 1rem; }

#containerFav--check {
  width: 16px;
  height: 16px;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: none; }

#containerFav--Eliminar {
  height: 4rem; }

#modal-body--input {
  margin-bottom: 0.5rem; }
  #modal-body--input input {
    width: 100%;
    margin-bottom: 0.5rem; }

.modal-body--button {
  margin-top: 1rem;
  text-align: center; }
  .modal-body--button input {
    width: 50%;
    height: 2.5rem; }

.modal-footer {
  display: flex;
  flex-direction: column; }
  .modal-footer input {
    width: 70%;
    height: 3rem;
    margin-bottom: 0.5rem; }
.modal-header{
  background-image: url(../background/fondoHeadLogIn.jpg);
  border: 1px solid black;
  color:white;}   
.btn-close{
  background-image: url(../background/close.png);}

/* --------------------------------------ESTILOS FOOTER-----------------------------------------------*/
.containerBackground{
  width: 100%;
  background:#05479D;
}
.containerFormSuscripcion {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .containerFormSuscripcion label {
    color: white;
    font-size: 20px;
    padding-right: 1rem; }
  .containerFormSuscripcion input {
    height: 35px;
    width: 20rem;}  
  .containerFormSuscripcion button{
    height: 40px;
    width: 5.5rem;
    background:#010449;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer; }
  .containerFormSuscripcion button:hover{
    background:#2983BC;
    transform: scale(1.1, 1.1);}   

.footer__containerAyuda {
  display: flex;
  width: 100%;
  margin-left: 0;
  background-image: url(../background/fondoFooter.jpg);
  justify-content: space-around; }
  .footer__containerAyuda h3 {
    height: 30px;
    background:#05479D;
    color: white;
    margin-top: 2rem; }
  .footer__containerAyuda p {
    margin-top: 1rem;
    color: white;
    text-align: left;
    font-size: 15px; }

.footer__containerAyuda--Menu {
  margin-top: 5px; }
  .footer__containerAyuda--Menu li {
    margin-left: -1.6rem; }

.footer__Redes {
  margin-top: -1rem; }
  .footer__Redes ul {
    display: flex;
    flex-direction: row;
    margin-left: -1.5rem; }
    .footer__Redes ul li {
      display: block; }
      .footer__Redes ul li img {
        height: 23px;
        width: 23px;
        margin-right: 1rem; }

/* --------------------------------------ESTILOS RESPONSIVE-----------------------------------------------*/
@media (max-width: 768px) {

  .containerPresupuesto{
    width: 100%;
  }
  
  .containerBot__Logo {
    
    width: 150px;
    height: 60px; }
  .search__Input {
    width: 20.5rem; }
  
    .containerBot__ContainerIconos img {
      width: 38px;
      height: 38px; }
  
    
  .containerBanner {
    height: 250px; }
    .containerBanner img {
      height: 250px; }
  .containerBanners {
    grid-template-columns: repeat(2,1fr); }


  .containerBot__ContainerMenu ul li{
    padding: 8px;
  }  
    .containerBanners article {
      height: 10rem;
      width: 10rem; }
      .containerBanners article img {
        height: 10rem;
        width: 10rem; }
    .containerBanners div {
      height: 10rem;
      width: 10rem; }
    .containerBanners h3 {
      font-size: 15px; }
  
    .containerSecciones section {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 2rem; }

      

      .containerSecciones div section article div h5{
        font-size: 15px;
        padding: 5px 8px;
      }
    .containerSecciones article {
      height: 13rem;
      width: 11rem; }
      .containerSecciones article img {
        height: 100px;
        width: 100px;
        padding-top: 1rem; }

    .containerProdCateg{
      grid-template-columns: repeat(2,1fr);
    } 
    
    
    .containerProdCateg article div h5{

      font-size: 15px;
      padding: 5px 8px;

    }


    .containerProdArmar{
      grid-template-columns: repeat(2,1fr);
    }
  .containerFormSuscripcion {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .containerFormSuscripcion label {
      font-size: 15px;
      padding-right: 0.5rem; }
    .containerFormSuscripcion input {
        height: 30px;
        width: 10rem;}
    .containerFormSuscripcion button{
      height: 35px;
      width: 4rem;
      font-size: 10px;
    }     
  .inputText {
    height: 25px;
    width: 12rem; }
  .inputSuscribir {
    height: 32px;
    width: 4rem;
    font-size: 10px; }
  .footer__containerAyuda h3 {
    height: 30px;
    margin-top: 1rem; }
  .footer__containerAyuda p {
    margin-top: 0.5rem;
    
    font-size: 12px; }
  .footer__containerAyuda li {
    font-size: 12px; } }


    @media (min-width: 769px) and (max-width: 1024px){

    .containerPresupuesto{
      width: 100%;
    }

  .containerProdCateg article div h5 {
    padding: 5px 8px;
  }

  .search__Input{
    width: 25rem;
  }

}


@media (max-width: 480px) {

  .containerProdCateg article div h5{
    width: 100%;
  }

  .containerProdCateg article div button{
    margin-left: 1rem;
    padding: 5px;
    font-size: 1rem;
  }
  .block--center{
    display: block;
    text-align-last: center;
  }

  .Subtotal{
    width: 100%;
    text-align: center;
  }

  .containerOrdenarArmar select{
    margin-right: 0;
  }

  .first-button{
    margin-bottom: .7rem;
  }
  #containerFav--detalle h4{
    font-size: 1rem;
  }

  .containerFav article input{
    font-size: 1rem;
  }

  #containerFav--detalle h5{
    font-size: 1rem;
  }

  .containerFav article{
    gap: 1rem;
  }

  #containerFav--detalle{
    gap:1rem;
  }

  .containerPresupuesto__Mid--Componente h4{
    margin-left: 0;

    margin-right: 0;
  }

  .containerPresupuesto__Mid--Componente img{
    width: unset;
  }

  .containerPresupuesto__Mid--Componente{
    justify-content: center;
  } 

  .containerPresupuesto__Top{
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
    gap: 1rem;
  }

  .containerPresupuesto__Mid{
    
    margin-left: 0;
    margin-right: 0;
    gap: 1rem;
  }

  .menuResponsive{
    display: block;
  }
  .btn {
    padding: .275rem .55rem;
  }
  .btn-menu--size {
    width: 100%;
    max-height: 15px;}

  .menu-no-phone{
    display: none;
  }

  .containerTop__ListNavLeft{
    padding: 5px;
    font-size: 10px;
  }
  .containerTop__ListNavLeft img{
    height: 12px;
    width: 12px;
  }
  .containerBot__ContainerMenu ul li{
    padding: 5px;
  }
  .containerTop__Nav {
    margin: 0rem 0rem; }
  .containerBot__Logo {
    
    width: 70px;
    height: 30px; }
  .containerBot__Search {
    margin-left: -1rem;
     }
    .containerBot__Search img {
      width: 12px;
      height: 12px; }
  .search__Input {
    width: 10rem;
    height: 1.5rem;
    font-size: 8px; }
  .search__InputBtn {
    height: 0.7rem;
    margin-left: -20px;
    margin-top: -0.9rem; }
  .containerBot__ContainerIconos {
    margin-right: 0.3rem;
    margin-left: 0.5rem; }
    .containerBot__ContainerIconos a {
      padding: 5px; }
    .containerBot__ContainerIconos img {
      width: 25px;
      height: 25px; }

      .containerListCateg ul li a{
        padding: 5px;
      }

      .containerListComponentes ul li a{
        padding: 5px;
      }

      .containerProdArmar{
        grid-template-columns: repeat(1,1fr);
      }

      .containerProdCateg{
        grid-template-columns: repeat(1,1fr);
      }
  
  
    .containerBot__ContainerMenu ul a {
      font-size: 11px; }
  .containerBanner {
    height: 160px; }
    .containerBanner img {
      height: 160px; }
  .containerBanners {
    margin: 3rem 0; }
    .containerBanners article {
      height: 6rem;
      width: 6rem; }
      .containerBanners article img {
        height: 6rem;
        width: 6rem; }
    .containerBanners div {
      height: 6rem;
      width: 6rem; }
    .containerBanners h3 {
      font-size: 10px; }
  
    .containerSecciones h2 {
      font-size: 20px; }


      .containerSecciones div section{
        grid-template-columns: repeat(1,1fr);
      }
    .containerSecciones section {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 2rem; }
    .containerSecciones article {
      height: 9.5rem;
      width: 7.5rem; }
      .containerSecciones article img {
        height: 80px;
        width: 70px;
        padding-top: 1rem; }
        .containerSecciones div section article h4 {
          font-size: 14px;
          margin-bottom: 10px;}  
          .containerSecciones div section article div h5 {
            font-size: 14px;
            padding: 5px 8px;}   
            .containerSecciones div section article div button {
              width:70px;
              height: 30px;
              font-size: 14px;
              margin-top: -10px;
          }
          .containerSecciones div button {
            height: 50px;
            width: 55px;}
            .containerSecciones div button img {
              align-items: center;
              justify-items: center;
              height: 25px;
              width: 25px;
          }
  .containerFormSuscripcion {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    }
    .containerFormSuscripcion label {
      font-size: 10px;
      padding-right: 0.5rem; }
    .containerFormSuscripcion input {
        height: 35px;
        width: 100%;
      margin-bottom: 0.5rem;}
    
  .inputText {
    height: 20px;
    width: 6rem;
    font-size: 10px; }
  .inputSuscribir {
    height: 30px;
    width: 4rem;
    font-size: 10px; }
  .footer__containerAyuda h3 {
    height: 20px;
    margin-top: 1rem;
    font-size: 14px; }
  .footer__containerAyuda p {
    margin-top: 1rem;
    font-size: 8px; }
  .footer__containerAyuda li {
    font-size: 9px; }
  .footer__Redes ul li img {
    height: 12px;
    width: 12px;
    margin-right: 0.5rem;} 
  }
  
  
  